'.source.citrine':
  'editor':
    'increaseIndentPattern': '\\{\\\\[^\\}]*$'
    'decreateIndentPattern': '\\s*\\n\\s*\\}'
    'commentStart': '# '
    'nonWordCharacters': '/\\(\\)"\':,.;<>~!#^&*|+={}`?-'
